doctype html
html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='description', content='')
        meta(name='author', content='')

        link(rel="stylesheet" href="/static/styles.css")
        link(rel="stylesheet" href="/static/reset.css")
        link(rel="stylesheet" href="/static/header.css")
        link(rel="stylesheet" href="/static/footer.css")
        link(rel="stylesheet" href="/static/form.css")
        link(rel="stylesheet" href="/static/sociallogin.css")
        link(rel="stylesheet" href="/static/closet_cody.css")
        link(rel="stylesheet" href="/static/button.css")
        link(rel="stylesheet" href="/static/showingText.css")
        link(rel="stylesheet" href="/static/closet_cody/closet_cody.css")
        link(rel="stylesheet" href="/static/closet_cody/clothes_cody_detail.css")

        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css")
        title #{pageTitle} |#{siteName}
    body

        include ../partials/header.pug        
        main
            block content
        include ../partials/footer.pug
