extends ./layouts/main.pug
block content 
    h1 정보를 변경하세요
    .form_container
        form.form(action=routes.edit_profile(loggedUser.id), method="post")
           input(type="text",placeholder="name",name="name",value=loggedUser.name)
           input(type="email",placeholder="email",name="email",value=loggedUser.email)
           input(type="text",placeholder="address",name="address",value=loggedUser.address)
           input(type="submit", value="Update Profile")