extends ./layouts/main.pug
block content
    h1 #{siteName}
    
    .home_column
        if loggedUser
            span #{loggedUser.name}님 반갑습니다만..   
               
                                       

        