extends layouts/main.pug
block content
    .form_container
        form(action=routes.join,method="post")
            +input-simple("text",null,{name:"name",placeholder:"NAME",required:"true"})
            +input-simple("email",null,{name:"email",placeholder:"EMAIL",required:"true"})
            +input-simple("text",null,{name:"birthday",placeholder:"BIRTHDAY",required:"true"})
            +input-simple("text",null,{name:"address",placeholder:"ADDRESS",required:"true"})
            +input-simple("password",null,{name:"password",placeholder:"PASSWORD",required:"true"})
            +input-simple("password",null,{name:"password2",placeholder:"VERIFY YOUR PASSWORD",required:"true"})
            +submit("Join Now")            
