extends layouts/main.pug
block content
    .form_container
        form(action=routes.login, method="post")
            +input-simple("email","input_email",{name:"email",placeholder:"EMAIL",required:"true"})
            +input-simple("password","input_password",{name:"password",placeholder:"PASSWORD",required:"true"})
            +submit("LOG IN")
        include ./partials/socialLogin.pug       