extends layouts/main.pug
include mixins/codiesBlock
block content
    .showing_codies
        each item in codies
            +codiesBlock({
                id:item._id,
                season:item.season,
                codiesFile:item.fileUrl,
            })