extends layouts/main.pug
block content
    .form_container
        form(action=routes.upload(loggedUser._id), method="post",enctype = "multipart/form-data")
            .color
                .color
                    input.color(type="radio" id="gray" name="color" value="회색")
                    label.color(for="gray")|GRAY                
                .color
                    input.color(type="radio" id="pink" name="color" value="분홍")
                    label.color(for="pink")|PINK
                .color
                    input.color(type="radio" id="beige" name="color" value="베이지")
                    label.color(for="beige")|BEIGE
                .color                  
                    input.color(type="radio" id="orange" name="color" value="주황")
                    label.color(for="orange")|ORANGE
                .color                 
                    input.color(type="radio" id="yellow" name="color" value="노랑")
                    label.color(for="yellow")|YELLOW
                .color                
                    input.color(type="radio" id="green" name="color" value="초록")
                    label.color(for="green")|GREEN
                .color             
                    input.color(type="radio" id="blue" name="color" value="파랑")
                    label.color(for="blue")|BLUE
                .color                
                    input.color(type="radio" id="darkblue" name="color" value="군청")
                    label.color(for="darkblue")|DARKBLUE
                .color               
                    input.color(type="radio" id="purple" name="color" value="보라")
                    label.color(for="purple")|PURPLE
                .color               
                    input.color(type="radio" id="white" name="color" value="하양")
                    label.color(for="purple")|WHITE
                .color               
                    input.color(type="radio" id="black" name="color" value="검정")
                    label.color(for="purple")|BLACK 
            .season
                input.season(type="radio" id="winter" name="season" value="겨울")
                label.season(for="winter")|WINTER                
                input.season(type="radio" id="summer" name="season" value="여름")
                label.season(for="winter")|SUMMER                
                input.season(type="radio" id="spring-fall" name="season" value="봄가을")
                label.season(for="winter")|SPRING-FALL
            .category
                input.category(type="radio" id="outer" name="category" value="아우터")
                label.category(for="outer")|OUTER
                input.category(type="radio" id="bottom" name="category" value="하의")
                label.category(for="bottom")|BOTTOM
                input.category(type="radio" id="shoes" name="category" value="신발")
                label.category(for="shoes")|SHOES
                input.category(type="radio" id="top" name="category" value="상의")
                label.category(for="top")|TOP
            .category_detail
                h4 아우터카테고리                
                input.category_detail(type="radio" id="hoodzip" name="outer_category_detail" value="후드집업")
                label.category_detail(for="hoodzip")|후드집업
                input.category_detail(type="radio" id="MA-1" name="outer_category_detail" value="블루종/MA-1")
                label.category_detail(for="MA-1")|MA-1/블루종
                input.category_detail(type="radio" id="rider" name="outer_category_detail" value="라이더/레더자켓")
                label.category_detail(for="rider")|라이더/레더 재킷            
                input.category_detail(type="radio" id="trucker" name="outer_category_detail" value="트러커 재킷")
                label.category_detail(for="trucker")|트러커 재킷
                input.category_detail(type="radio" id="blazer" name="outer_category_detail" value="블레이저")
                label.category_detail(for="blazer")|블레이저
                input.category_detail(type="radio" id="cardigan" name="outer_category_detail" value="카디건")
                label.category_detail(for="cardigan")|카디건
                input.category_detail(type="radio" id="anorak" name="outer_category_detail" value="아노락")
                label.category_detail(for="anorak")|아노락
                input.category_detail(type="radio" id="coach" name="outer_category_detail" value="코치자켓")
                label.category_detail(for="coach")|코치자켓                
                input.category_detail(type="radio" id="training" name="outer_category_detail" value="트레이닝재킷")
                label.category_detail(for="training")|트레이닝재킷                
                input.category_detail(type="radio" id="stadium" name="outer_category_detail" value="스타디움재킷")
                label.category_detail(for="stadium")|스타디움재킷
                input.category_detail(type="radio" id="coat" name="outer_category_detail" value="코트")
                label.category_detail(for="coat")|코트
                input.category_detail(type="radio" id="padding" name="outer_category_detail" value="패딩")
                label.category_detail(for="padding")|패딩
                input.category_detail(type="radio" id="vest" name="outer_category_detail" value="베스트")
                label.category_detail(for="vest")|베스트
                input.category_detail(type="radio" id="hunting" name="outer_category_detail" value="헌팅재킷")
                label.category_detail(for="hunting")|헌팅재킷
                input.category_detail(type="radio" id="hunting" name="outer_category_detail" value="윈드재킷")
                label.category_detail(for="wind")|윈드재킷
                input.category_detail(type="radio" id="etc_outer" name="outer_category_detail" value="기타")
                label.category_detail(for="etc_outer")|기타 아우터
                h4 상의카테고리
                input.category_detail(type="radio" id="1/2t" name="category_detail" value="반팔")
                label.category_detail(for="1/2t")|1/2T
                input.category_detail(type="radio" id="t" name="category_detail" value="긴팔")
                label.category_detail(for="t")|T
                input.category_detail(type="radio" id="mtm" name="category_detail" value="맨투맨")
                label.category_detail(for="mtm")|MTM            
                input.category_detail(type="radio" id="karat" name="category_detail" value="피케티")
                label.category_detail(for="karat")|KARA-T
                input.category_detail(type="radio" id="knit" name="category_detail" value="니트")
                label.category_detail(for="knit")|KNIT-SWEATER
                input.category_detail(type="radio" id="hood" name="category_detail" value="후드티")
                label.category_detail(for="hood")|HOOD
                input.category_detail(type="radio" id="shirt" name="category_detail" value="셔츠")
                label.category_detail(for="shirt")|SHIRT
                h4 하의카테고리
                input.category_detail(type="radio" id="denim" name="bottom_category_detail" value="데님")
                label.category_detail(for="denim")|데님팬츠
                input.category_detail(type="radio" id="cotton" name="bottom_category_detail" value="코튼")
                label.category_detail(for="cotton")|코튼팬츠
                input.category_detail(type="radio" id="slacks" name="bottom_category_detail" value="슬랙스")
                label.category_detail(for="slacks")|슬랙스            
                input.category_detail(type="radio" id="training" name="bottom_category_detail" value="트레이닝팬츠")
                label.category_detail(for="training")|트레이닝팬츠
                input.category_detail(type="radio" id="short" name="bottom_category_detail" value="쇼트팬츠")
                label.category_detail(for="short")|쇼트팬츠
                input.category_detail(type="radio" id="leggings" name="bottom_category_detail" value="레깅스")
                label.category_detail(for="leggings")|레깅스
                input.category_detail(type="radio" id="etc_bottom" name="bottom_category_detail" value="기타바지")
                label.category_detail(for="etc_bottom")|기타
                h4 신발카테고리
                input.category_detail(type="radio" id="dressshoes" name="shoes_category_detail" value="구두")
                label.category_detail(for="dressshoes")|구두
                input.category_detail(type="radio" id="boots" name="shoes_category_detail" value="부츠")
                label.category_detail(for="boots")|부츠
                input.category_detail(type="radio" id="sneakers" name="shoes_category_detail" value="스니커즈")
                label.category_detail(for="sneakers")|스니커즈            
                input.category_detail(type="radio" id="sandle" name="shoes_category_detail" value="샌들")
                label.category_detail(for="sandle")|샌들
                input.category_detail(type="radio" id="etc_shoes" name="shoes_category_detail" value="기타신발")
                label.category_detail(for="etc_shoes")|기타 
            .file_form
                label(for="file") Clothes File
                input(type="file" id="file" name="clothesFile", required=true, accept = "image/*")
                input(type="submit" value="Upload Clothes")        