.footer{
    background-color: white;
    position: absolute;

    left: 0;

    bottom:0;
    width: 100%;
    border-top : 1px solid black  
}
.footer_wrapper .span_logo{
}
.footer_wrapper *{
    color:black;
}
.footer_wrapper{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer a{
    color:black;
}
.footer a:link {
    color: red;
    text-decoration: none;
  }
  .footer a:visited {
    color: white;
    text-decoration: none;
  }
  .footer a:hover {
    color: blue;
    text-decoration: none;
  }
  .footer a:active{
    text-decoration: none !important;
  }