a {
  text-decoration: none !important;
}
html,
body {
  min-height: 100%;
}
html{
  position: relative;
}
.clothesBlock {
  border: 1px solid black;
  display: flex;
}
main{
  margin-bottom: 100px;
}
.clothesBlock .clothes_outer {
}
.clothesBlock .clothes_top {
}
.clothesBlock .clothes_bottom {
}
.clothesBlock .clothes_shoes {
}
.color {
  display: inline;
}
